# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Networking2020Windows.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\celan\OneDrive\Desktop\Networking2020Windows\.idea\.idea.Networking2020Windows\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
